<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="sessionFactory"
    class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource">
      <ref bean="dataSource" />
    </property>
    <property name="mappingResources">
      <list>
        <value>net/malta/model/Category.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
        <prop key="hibernate.cache.use_query_cache">false</prop>
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        <prop key="hibernate.cache.query_cache_factory">org.hibernate.cache.StandardQueryCacheFactory
        </prop>
        <!-- applicationContext hibernateProperties merge-point -->
      </props>
    </property>
  </bean>

  <!-- The Hibernate interceptor -->
  <bean id="hibernateInterceptor"
    class="org.springframework.orm.hibernate3.HibernateInterceptor">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <!-- Category Entity Proxy with inner Category Entity implementation -->
  <bean id="categoryDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target">
      <bean class="net.malta.model.CategoryDaoImpl">
        <property name="sessionFactory">
          <ref local="sessionFactory" />
        </property>
      </bean>
    </property>
    <property name="proxyInterfaces">
      <value>net.malta.model.CategoryDao</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
      </list>
    </property>
  </bean>

  <bean id="showCategoryTags" class="net.malta.adverbial.ShowCategoryTags">
    <property name="tagDao" ref="tagDao" />
  </bean>

  <bean id="tagDao" class="net.malta.model.TagDao">
  </bean>

</beans>
