<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
       </layout> 
    </appender>
 
    <appender name="applog" class="org.apache.log4j.RollingFileAppender">
      <param name="file" value="st2proto.log"/>
      <param name="MaxFileSize" value="1000KB"/>
      <param name="MaxBackupIndex" value="4"/>
      <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
      </layout> 
    </appender>

    <logger name="org.apache.struts2">
      <level value="DEBUG" />
    </logger>
  
    <logger name="com.opensymphony">
      <level value="DEBUG" />
    </logger>
  
    <logger name="org.springframework">
      <level value="DEBUG" />
    </logger>
  
    <logger name="net.storyteller2">
      <level value="DEBUG" />
    </logger>
    
   <!--
      org.hibernate.SQL             Log all SQL DML statements as they are executed
      org.hibernate.type            Log all JDBC parameters
      org.hibernate.tool.hbm2ddl    Log all SQL DDL statements as they are executed
      org.hibernate.pretty          Log the state of all entities (max 20 entities) 
                                        associated with the session at flush time
      org.hibernate.cache           Log all second-level cache activity
      org.hibernate.transaction     Log transaction related activity
      org.hibernate.jdbc            Log all JDBC resource acquisition
      org.hibernate.hql.ast.AST     Log HQL and SQL ASTs during query parsing
      org.hibernate.secure          Log all JAAS authorization requests
      org.hibernate                 Log everything
    -->
    <logger name="org.hibernate">
      <level value="INFO" />
    </logger>
  
    <root>
      <priority value="INFO" />
      <appender-ref ref="console" />
      <appender-ref ref="applog" />
    </root>
    
</log4j:configuration> 

