<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>Storyteller 2 Proto app</display-name>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Disable jsession id in url causing jwebunit tests to fail
       see -> http://fralef.me/tomcat-disable-jsessionid-in-url.html 
       TODO: revisit this setting for courseware releases..
             as it is probably preferable to allow this for browsers
             with cookies disabled.
    -->
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <!-- Disable for Jetty as well 
      TODO: roll a seperate test web.xml that has this and remove
            this from the main one. 
            -->
  <context-param>
    <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
    <param-value>none</param-value>
  </context-param>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/applicationContext-localDataSource.xml
      /WEB-INF/applicationContext.xml
    </param-value>
  </context-param>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
